<br>
<br>
<h4 style="text-align: center">event messages</h4>

<div class="container chatroom mt-3 border rounded"
data-controller="event-subscription"
data-event-subscription-event-id-value="<%= @event.id%>"
data-event-subscription-current-user-id-value="<%= current_user.id
%>"%>
    <h2 class = "mt-2"><%= @event.name %> chatroom</h2>
    <hr>
    <div class="messages" data-event-subscription-target="messages">
      <% @messages.each do |message| %>
        <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
          <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
            <%= render "messages/message", message: message %>
          </div>
        </div>
      <% end %>
    </div>

    <%= simple_form_for [@event, @message],
      html: {
        class: "d-flex",
        data: {
          action: "turbo:submit-end->event-subscription#resetForm"
          }
        } do |f|
    %>
      <%= f.input :content,
        label: false,
        placeholder: "Type your message here",
        wrapper_html: {class: "flex-grow-1"}
      %>
      <%= f.submit "Send", class: "btn btn-primary mb-3" %>
  <% end %>
</div>
