<%= link_to event_path(event), class: "event-card-link" do %>
  <div class="event-card">
    <div class="event-name d-flex justify-content-center align-items-center">
      <h5><%= event.name.truncate(12) %></h5>
    </div>
    <% image_path_string = event.photo.attached? ? event.photo.key : "https://tinyurl.com/9frz2xjv" %>
    <div class="event-info" style="background-image: url(<%=  cl_image_path image_path_string %>);">
      <div class="game-host-info">
        <div class="game-name">
            <p><%= event.game.name %></p>
        </div>
        <div class="host-avatar">
            <% if @user.profile_pic && @user.profile_pic.key %>
              <%= cl_image_tag user.profile_pic.key, class:"event-card-avatar" %>
            <% else %>
              <%= image_tag "person-icon.png", class:"event-card-avatar" %>
            <% end %>
        </div>
      </div>
      <div class="game-players-info">
        <div class="game-players-icon">
          <i class="fa-solid fa-chess-pawn"></i>
        </div>
        <div class="game-players-numbers">
          <p><%= event.players.confirmed.count %>/<%= event.capacity %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>
