<%= link_to event_path(event), class: "d-flex justify-content-center" do %>
  <div class="card-trip rounded">
      <% if event.photo.attached? %>
        <%= cl_image_tag event.photo.key %>
      <% else %>
      <%= image_tag "https://tinyurl.com/9frz2xjv", class:"event-card-img" %>
      <% end %>
    <div class="card-trip-infos">
      <div>
        <h2><%= event.name %></h2>
      </div>
      <h2 class="card-trip-pricing"><%= event.game.name %></h2>
      <% if event.user.photo.attached? %>
        <%= cl_image_tag event.user.photo.key, class: "card-trip-user photo-bordered" %>
        <%# <%= cl_image_tag event.game.photo.key, class: "card-trip-user photo-bordered" %>
      <% else %>

      <% end %>
    </div>
  </div>
<% end %>
