<div class="container">
<h1><%=@event.game.name%> is over! </h1>
<h3>Now it's time to sumbit the winners</h3>
<ol>
<% @event.players.each do |player| %>
  <li><%= player.user.email %></li>
<% end %>
</ol>

 <%= form_with url: event_submit_scores_path(@event) do |form| %>
  <%= form.label :first_place, "First place:" %>
  <%= form.select :first_place, @event.participants %>
  <%= form.label :second_place, "First place:" %>
  <%= form.select :second_place, @event.participants %>
  <%= form.submit "Submit" %>
<% end %>

</div>
