<br>
<br>
<br>

<div class="container">
      <h1><%=@event.name%> is over! </h1>
      <h3>Players involved in this game of <%= @event.game.name %>:</h3>
      <ul>
      <% @event.players.each do |player| %>
        <li><%= player.user.first_name %></li>
      <% end %>
      </ul>

      <%= form_with url: submit_scores_event_path(@event) do |form| %>
        <%= form.label :first_place, "First place:" %>
        <%= form.select :first_place, @event.participants %>
        <%= form.label :second_place, "Second place:" %>
        <%= form.select :second_place, @event.participants %>
        <%= form.submit "Submit" %>
      <% end %>
</div>
