<div class="d-flex flex-column flex-lg-row">
  <div class="card-box mb-4 mb-lg-0 pt-5">
    <h4 class="text-center">Pick a game to join!</h4>
    <div class="map-card-container justify-content-center">
      <div class="mt-4 card-overflow bar mb-5">
        <%= form_with url: events_path, method: :get, class: "row g-2" do |f| %>
          <div class="col-12 col-md">
            <div class="form-group">
              <%= f.text_field :query, { placeholder: params[:query].present? ? params[:query] : "Enter Location", class: "form-control" } %>
            </div>
          </div>
          <div class="col-12 col-md">
            <div class="form-group">
              <%= f.collection_select(:gamefilter, @games, :name, :name, { prompt: params[:gamefilter].present? ? params[:gamefilter] : "Select game" }, { class: "form-control" }) %>
            </div>
          </div>
          <div class="col-12 col-md">
            <div class="form-group">
              <%= f.text_field :date_input, { data: { controller: "flatpicker" }, placeholder: params[:date_input].present? ? params[:date_input] : "Select date", class: "form-control" } %>
            </div>
          </div>
          <div class="col-12 col-md">
            <div class="form-group">
              <%= submit_tag "Search", class: "btn btn-primary w-100" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="cards-events scrolling-wrapper-flexbox">
      <% @events.each do |event| %>
        <%= render "card", event: event %>
      <% end %>
    </div>
  </div>
  <div class="map-container mt-4 mt-lg-0 p-2 border"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
