<div class="d-flex">
  <div class="card-box">
    <br>
    <h4 style="text-align:center">Pick the game to join!</h4>
    <div class="d-flex map-card-container justify-content-center">
      <div class="mt-4 card-overflow bar mb-5">
        <%= form_with url: events_path, method: :get, class: "d-flex" do |f| %>
          <div class="form-control">
            <%= f.text_field :query, placeholder: params[:query].present? ? params[:query] : "Enter Location" %>
          </div>
          <div class="form-control">
            <%= f.collection_select(:gamefilter, @games, :name, :name, prompt: params[:gamefilter].present? ? params[:gamefilter] : "Select game") %>
          </div>
          <div class="form-control">
            <%= f.text_field :date_input, data: { controller: "flatpicker" }, placeholder: params[:date_input].present? ? params[:date_input] : "Select date" %>
          </div>
          <%= submit_tag "Search", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
    <div class="cards-events">
      <% @events.each do |event| %>
        <%= render "card", event: event %>
      <% end %>
    </div>
  </div>
  <div style="width: 35%; height: 100vh;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
