<div class="d-flex">
  <div class="card-box">
    <div class="container d-flex map-card-container">
      <div class="container mt-4 card-overflow bar">
        <%= form_with url: events_path, method: :get, class: "d-flex" do |f| %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Enter your location"
          %>
          <div class="form-control">
            <%= f.collection_select(:gamefilter, @games, :name, :name, prompt: true) %>
          </div>
          <div class="form-control">
            <%= f.text_field :date_input, data: { controller: "flatpicker" }, placeholder: "Select date" %>
          </div>
          <%= submit_tag "Search", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
      <div>
        <% @events.each do |event| %>
          <%= render "card", event: event %>
        <% end %>
    </div>
  </div>
  <div class="fixed-element" style="width: 45%; height: 100vh;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
