<br>
<h4 style="text-align: center">Create an Event</h4>
<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <%= simple_form_for @event do |f| %>
          <%= f.input :name, placeholder: 'Event name' %>
          <%= f.input :address, placeholder: '18 Clarievaux road, Kalk bay , Cape Town' %>
          <%= f.input :description, placeholder: 'Give us details about your event...' %>
          <%= f.association :game %>
          <%= f.input :capacity, placeholder: 'How many people can your event host' %>
          <%= f.input :date, as: :datetime %>
          <%= f.input :image, as: :file %>
          <%= f.submit class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
