
<div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1606733847546-db8546099013?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1872&q=80);">
  <div class="show-game-info">
    <div class="show-game-names">
      <div class="game-event-name">
        <h2><%= @event.name %></h2>
        <h3><%= @event.game.name %></h3>
      </div>
    </div>
    <div class="show-game-players">
      <div class="game-players-avatars">
        <% @event.users.accepted.each do |user| %>
        <div class="modal-dialog modal-dialog-centered">
          <%= cl_image_tag user.profile_pic.key, class: "avatar-bordered", alt: "avatar-bordered" %>
          </div>
        <% end %>
        <% @open_capacity.times do %>
          <%= image_tag "open_user", class: "avatar-bordered", alt: "avatar-bordered" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="show-game-status">
    <div class="game-status">
      <% if @event.users.accepted.include? current_user %>
        <h5>You are signed up for this game</h5>
      <% elsif @event.users.include? current_user %>
        <h5>Your invitation is still pending...</h5>
      <% elsif @event.users.accepted.count < @event.capacity && @event.user != current_user %>
          <%= simple_form_for [@event, @player] do |f| %>
            <%= f.button :submit, "join event", class: "btn btn-primary"%>
          <% end %>
      <% elsif @event.owner?(current_user)%>
        <%= link_to finish_event_path(@event) do%>
          <h5>End Game</h5>
        <% end %>
      <% else %>
        <h5>Game is full</h5>
      <% end %>
    </div>
  </div>
</div>


<div class="modal-dialog modal-dialog-centered">
  ...
</div>

<% # chatoom  %>

<div>
  <% if @event.users.accepted.include? current_user %>
    <%= link_to "Group messages", event_messages_path(@event) %>
  <% end %>
</div>




<div class="cards d-grid">
      <% @events.each do |event| %>
        <%= render "card", event: event %>
      <% end %>
    </div>
