
<div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1606733847546-db8546099013?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1872&q=80);">
  <div class="show-game-info">
    <div class="show-game-names">
      <div class="game-event-name">
      <br>
      <br>
      <br>
      <br>
        <h2><%= @event.name %></h2>
        <h4><strong>Game:</strong> <%= @event.game.name %></h4>
        <h4><strong>Address:</strong> <%= @event.address %></h4>
        <h4><strong>Date:</strong> <%= @event.date.strftime('%a %d %b %Y') %> <%= @event.date.strftime('%I:%M %p') %></h4>
        <h4><strong>Description:</strong> <%= @event.description %></h3>
      </div>
    </div>
    <div class="show-game-players">
      <div class="game-players-avatars">
        <% @event.users.confirmed.each do |user| %>
          <button type="button" class="avatar-bordered"data-bs-toggle="modal" data-bs-target="#user-<%=user.id%>">
          <%= cl_image_tag user.profile_pic.key, class: "avatar-bordered", alt: "avatar-bordered" %>
          </button>
            <!-- Modal -->
            <div class="modal fade" id="user-<%=user.id%>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="user-<%=user.id%>Label" aria-hidden="true">
              <div class="modal-dialog ">
                <div class="modal-content modal-joe">
                  <div class="modal-header">
                    <h5 class="modal-title modal-text" id="user-<%=user.id%>Label">Username:<%= user.username %></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body ">
                  <ul>
                  <p>Player's name:</p>
                  <li><%= user.first_name.capitalize %><%=  user.second_name.capitalize %></li>
                  <p></p>
                  <p>Player's Bio:</p>
                  <li><%= user.bio %></li>
                  <p></p>
                  <p>Player's email:</p>
                  <li><%= user.email %></li>
                  </ul>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary">
                          <% if @event.users.confirmed.include? current_user %>
                            <%= link_to "Group messages", event_messages_path(@event) %>
                          <% end %>
                    </button>
                   </div>
                </div>
              </div>
            </div>

        <% end %>
        <% @open_capacity.times do %>
          <%= image_tag "open_user", class: "avatar-bordered", alt: "avatar-bordered" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="show-game-status">
    <div class="game-status">
      <% if @event.confirmed_user?(current_user) %>
        <h5>You are signed up for this game</h5>
      <% elsif @event.pending_user?(current_user) %>
        <button class="btn btn-primary" type="button" disabled>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Pending request..
        </button>
      <% elsif @event.users.confirmed.count < @event.capacity%>
          <%= simple_form_for [@event, @player] do |f| %>
            <%= f.button :submit, "Join Event", class: "btn btn-join"%>
          <% end %>
      <% elsif @event.owner?(current_user)%>
      <button type="button" class="btn btn-join">
            <%= link_to finish_event_path(@event) do%>
          <h5>End Game</h5>
      </button>
        <% end %>
      <% else %>
        <h5>Game is full</h5>
      <% end %>
    </div>
  </div>
</div>

<br>
<br>

<h4 style="text-align: center">Events that are also playing: <%= @event.game.name %></h4>
<br>
<br>

<% numberEvents = @similar_events.size %>
<% cardsPerSlides = 4 %>
<% slideNumber = (numberEvents/cardsPerSlides.to_f).ceil %>
<div id="card-carousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <% for index in (0...slideNumber) %>
      <div class="carousel-item <%= index == 0 ? 'active': '' %>">
        <% for position in (0...cardsPerSlides)  %>
          <% unless (@similar_events[index * cardsPerSlides + position]).nil? %>
            <%= render "card", event: @similar_events[index * cardsPerSlides + position] %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#card-carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#card-carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
