<div class="container">


<h1>Event: <%= @event.name %></h1>
<h4>Game: <%= @event.game.name %></h4>
<h5>Description: <%= @event.description %></h5>

<% if @event.users.include? current_user %>
  <p>"You are signed up for this game"</p>
<% else %>
  <%= simple_form_for [@event, @player] do |f| %>
    <%= f.button :submit, "join event", class: "btn btn-ghost"%>
  <% end %>
<% end %>

</div>
