<H1>DASHBOARD</H1>

<% #container for hosted events %>
<div class="container mt-4 ">
  <% if @events%>
    <h3>Events you're hosting:</h3>
    <div class="cards d-grid p-2">
      <% @user.events.each do |event| %>
        <div class="card-myspace border border-dark border-3 p-3 rounded">
          <h4><%= link_to event.name, event_path(event) %></h4>
          <h6 class="text-dark mt-4" >Event requests:</h6>
          <% if event.players.pending.first %>
            <% event.players.pending.each do |player| %>
              <div>
                <div class="d-flex justify-content-between">
                    <%= player.user.email %>
                    <div class="d-flex justify-content-end">
                      <p class="remove-text-decoration"><%= button_to "✅", accept_event_player_path(event, player), method: :patch %></p>
                      <p class="remove-text-decoration"><%= button_to "❌", reject_event_player_path(event, player), method: :patch %></p>
                    </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
    <% else %>
      <div class="card-product">
        <div class="card-product-infos">
          <h2>You are not currently hosting any events</h2>
        </div>
      </div>
  <% end %>

  <% #container for events you're booked into %>
  <div class="container">
      <%if @user.players %>
      <div class="cards d-grid p-2">
        <div class="card-myspace border border-dark border-3 p-3 rounded">
          <h2>Confirmed bookings</h2>
            <ol>
              <div class="container mt-4 ">
                <%= @user.players.each do |players| %>
                  <li><%=players.event.name %></li>
                <% end %>
              </div>
            </ol>
        </div>
      </div>
      <%end%>
  </div>

</div>
