<br>
<h4 style="text-align: center">Dashboard</h4>



<div class="d-flex p-3">
<% #container for whole page  %>

<div class="left_side_of_dashboard">
<% #container for notifications, booked, hosted %>

<h5>Notifications (<%= @events.pending_players.count %>):</h5>
<div class="card-notification-area mb-3">
  <% #outer container for event requests  %>
  <% #inner container for event requests  %>
    <% if @first_pending_player %>
      <div class="card-notification mt-2 stacked-notifications" style="box-shadow:<%= @events.pending_players.stack_shadow%>">
        <div class="notification-image">
          <%= cl_image_tag @first_pending_player.user.profile_pic.key, class: "notification-avatar" %>
        </div>
        <div class="notification-info">
          <p><strong><%= @first_pending_player.user.username %></strong> wants to join <%= @first_pending_player.event.name %></p>
        </div>
        <div class="notification-actions">
          <div class="notification-action">
            <%= link_to accept_event_player_path(@first_pending_player.event.name, @first_pending_player), data: { 'turbo-method': :patch }, class: "mx-2 remove-text-decoration" do %>
              <%= image_tag "yes.png" %>
            <% end %>
            <%= link_to reject_event_player_path(@first_pending_player.event.name, @first_pending_player), data: { 'turbo-method': :patch }, class: "mx-2 remove-text-decoration" do %>
              <%= image_tag "no.png" %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
      <% #end of inner container for event requests  %>
     <% # end of outer container for event requests %>
  </div>

  <div class="p-3">
  <% # outer container for hosted events %>

    <h3>Hosted games:</h3>
    <div class="hosted-games ">
      <% # inner container for hosted events %>

        <% if @events %>
          <% @events.each do |event | %>
            <%= render "card", event: event %>
          <% end %>
        <% end %>
      <% # end of inner container for hosted events %>
    </div>
  <% # end of outer container for hosted events %>
  </div>

  <div class="">
    <% # outer container for booked events %>
    <h2>Booked events:</h2>
    <div class="p-3 card-trip rounded d-flex">
      <% # inner container for booked events %>
        <%if current_user.accepted_events %>
          <% current_user.accepted_events.each do |player| %>
            <% if player.event.photo.attached? %>
              <%= cl_image_tag player.event.photo.key %>
            <% else %>
              <%= image_tag "https://tinyurl.com/9frz2xjv", class:"event-card-img" %>
            <% end %>
            <div class="card-trip-infos">
              <%= link_to player.event.name, event_path(player.event) %>
            </div>
          <% end %>
        <% end %>
      <% # end of inner container for booked events %>
    </div>

    <h2>Pending events:</h2>
    <div class="p-3 card-trip rounded d-flex">
      <% # inner container for pending events %>
        <%if current_user.pending_events %>
          <% current_user.pending_events.each do |player| %>
            <% if player.event.photo.attached? %>
              <%= cl_image_tag player.event.photo.key %>
            <% else %>
              <%= image_tag "https://tinyurl.com/9frz2xjv", class:"event-card-img" %>
            <% end %>
            <div class="card-trip-infos">
              <%= link_to player.event.name, event_path(player.event) %>
            </div>
          <% end %>
        <% end %>
      <% # end of inner container for pending events %>
    </div>


    <% # end of outer container for booked events %>
  </div>

<% #end of container for notifications, booked, hosted, etc %>
</div>

<% #end of container for whole page  %>
</div>
