<br>

<h4 style="text-align: center">Dashboard</h4>



<div class="d-flex">
<% #container for whole page  %>

<div class="left_side_of_dashboard">
<% #container for notifications, booked, hosted %>

  <div class="border border-danger">
  <% #container for event requests  %>
    <% if @events %>
      <% @events.each do |event | %>
        <% if event.players.pending.first %>
          <% event.players.pending.each do |player| %>
          <div>
              <div class="d-flex justify-content-between border border-danger">
                <p><%= player.user.username %> wants to join <%= event.name %></p>
                  <div class="d-flex justify-content-end border border-danger">
                      <div class="d-flex justify-content-end player-status-actions">
                          <%= link_to accept_event_player_path(event, player), data: { 'turbo-method': :patch }, class: "mx-2" do %>
                            <%= image_tag "yes.png" %>
                          <% end %>
                          <%= link_to reject_event_player_path(event, player), data: { 'turbo-method': :patch }, class: "mx-2" do %>
                            <%= image_tag "no.png" %>
                          <% end %>
                      </div>

                  </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
     <% # end of container for event requests %>
  </div>

  <div class="p-3">
  <% # outer container for hosted events %>

    <h3>Hosted games:</h3>
    <div class="d-flex">
      <% # inner container for hosted events %>

        <% if @events %>
          <% @events.each do |event | %>
            <div class="card-myspace border border-dark border-3 p-3 rounded">
              <h4><%= link_to event.name, event_path(event) %></h4>
            </div>
          <% end %>
        <% end %>
      <% # end of inner container for hosted events %>
    </div>
  <% # end of outer container for hosted events %>
  </div>

  <div class="p-3">
    <% # outer container for booked events %>
    <h2>Booked events:</h2>
    <div class="d-flex">
      <% # inner container for booked events %>
        <%if @user.accepted_events %>
          <% @user.accepted_events.each do |player| %>
            <div class="card-myspace border border-dark border-3 p-3 rounded">
              <%= link_to player.event.name, event_path(player.event) %>
            </div>
          <% end %>
        <% end %>
      <% # end of inner container for booked events %>
    </div>

    <h2>Pending events:</h2>
    <div class="d-flex">
      <% # inner container for pending events %>
        <%if @user.pending_events %>
          <% @user.pending_events.each do |player| %>
            <div class="card-myspace border border-dark border-3 p-3 rounded">
              <%= link_to player.event.name, event_path(player.event) %>
            </div>
          <% end %>
        <% end %>
      <% # end of inner container for pending events %>
    </div>


    <% # end of outer container for booked events %>
  </div>

<% #end of container for notifications, booked, hosted, etc %>
</div>

<div style="background-color:blue;">
  <% #outer container for Personal records (game results)%>
  <div style="background-color:white;">
    <% #inner container for Personal records (game results)%>
    <h1>Personal Record</h1>
    <% #end of inner container for Personal records (game results)%>
  </div>
  <% #end of outer container for Personal records (game results)%>
</div>

<% #end of container for whole page  %>
</div>
