<br>
<h4 style="text-align: center">Dashboard</h4>

<div class="dashboard-main-container p-3">
  <div class="left_side_of_dashboard">
    <div class="dashboard-top-left">
      <div class="dashboard-profile">
        <%= cl_image_tag current_user.profile_pic.key, class: "avatar-bordered", alt: "avatar-bordered" %>
        <div class="dashboard-profile-info">
          <h5><strong><%= current_user.first_name %> <%= current_user.second_name %></strong></h5>
          <p><strong>Bio: </strong><%= current_user.bio %></p>
        </div>
        <i class="fa-solid fa-pen-to-square"></i>
      </div>
      <div class="card-notification-area mb-3">
        <h5 class="p-3"><strong>Notifications (<%= @events.pending_players.count %>):</strong> </h5>
          <% if @first_pending_player %>
            <div class="card-notification mt-2 stacked-notifications" style="box-shadow:<%= @events.pending_players.stack_shadow%>">
              <div class="notification-image">
                <%= cl_image_tag @first_pending_player.user.profile_pic.key, class: "notification-avatar" %>
              </div>
              <% user = @first_pending_player.user %>
              <div
                class="notification-info"
                data-controller="alert"
                data-alert-name-value="<%= user.first_name %>"
                data-alert-bio-value="<%= user.bio %>"
                data-alert-image-value="<%= user.profile_pic.url %>"
              >
                <p class="dashboard-notification-link"><strong><%= link_to user.username,  profile_page_path(user.username) , data: { action: "click->alert#fireAlert" }, class:"dashboard-notification-link" %></strong> wants to join <%= @first_pending_player.event.name%></p>
              </div>
              <div class="notification-actions">
                <div class="notification-action">
                  <%= link_to accept_event_player_path(@first_pending_player.event.name, @first_pending_player), data: { 'turbo-method': :patch }, class: "mx-2 remove-text-decoration" do %>
                    <%= image_tag "yes.png" %>
                  <% end %>
                  <%= link_to reject_event_player_path(@first_pending_player.event.name, @first_pending_player), data: { 'turbo-method': :patch }, class: "mx-2 remove-text-decoration" do %>
                    <%= image_tag "no.png" %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
      </div>
    </div>
    <div class="p-3 m3 pills-container">
      <ul class="nav nav-pills" id="myTab" role="tablist">
        <li class="nav-item " role="presentation">
          <button class="btn-dash active" id="hosted-tab" data-bs-toggle="tab" data-bs-target="#hosted-tab-pane" type="button" role="tab" aria-controls="hosted-tab-pane" aria-selected="true">Hosting</button>
        </li>
        <li class="nav-item " role="presentation">
          <button class="btn-dash" id="accepted-tab" data-bs-toggle="tab" data-bs-target="#accepted-tab-pane" type="button" role="tab" aria-controls="accepted-tab-pane" aria-selected="false">Booked</button>
        </li>
        <li class="nav-item " role="presentation">
          <button class="btn-dash " id="contact-tab" data-bs-toggle="tab" data-bs-target="#pending-tab-pane" type="button" role="tab" aria-controls="pending-tab-pane" aria-selected="false">Pending</button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">

        <div class="tab-pane fade show active" id="hosted-tab-pane" role="tabpanel" aria-labelledby="hosted-tab" tabindex="0">
          <div class="hosted-games-dashboard">
            <% if @events %>
              <% @events.each do |event | %>
                <%= render "events/card", event: event %>
              <% end %>
            <% end %>
          </div>
        </div>

        <div class="tab-pane fade" id="accepted-tab-pane" role="tabpanel" aria-labelledby="accepted-tab" tabindex="0">
          <div class="hosted-games-dashboard">
            <%if current_user.accepted_events %>
              <% current_user.accepted_events.each do |player| %>
                <%= render "events/card", event: player.event %>
              <%end%>
            <%end%>
          </div>
        </div>

        <div class="tab-pane fade" id="pending-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
          <div class="hosted-games-dashboard">
            <%if current_user.pending_events %>
              <% current_user.pending_events.each do |player| %>
                <%= render "events/card", event: player.event %>
              <%end%>
            <%end%>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="right-side-of-dashboard">
    <div class="dashboard-rankings">
      <h4>Your rankings:</h4>
      <hr>
      <% current_user.user_ratings.sort_by(&:rating).reverse.each do |user_rating| %>
        <% leaderboard = user_rating.game.user_ratings.sort_by(&:rating).reverse %>
        <% index = leaderboard.index(user_rating) %>
        <h5><strong><%= user_rating.game.name %></strong></h5>
        <p>Position: <%= index + 1 %>/ <%= user_rating.game.user_ratings.count %></p>
        <p>Points: <%=user_rating.rating %></p>
        <hr>
      <%end  %>
    </div>
    <div class="message-room">
      <h4><i class="fa-solid fa-envelope"></i> (<%= current_user.events.count %>)</h4>
      <%if current_user.events%>
      <div class="message-room-buttons-container">
        <% current_user.events.each do |event| %>
            <%= link_to event.name, event_messages_path(event), class: "btn-messages "%>
        <%end%>
      </div>
      <%else%>
        <p>You have no chatrooms open</p>
      <%end%>
  </div>
    </div>
  </div>
</div>
