<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Bubbles&display=swap" rel="stylesheet"> 


<div class="banner">
  <div class="banner-content text-center">
    <h1>Game Plan</h1>
    <p>Play what you want, where you want, with who you want to.</p>
<%# div for search bar and cards %>
      <div class="container mt-4 card-overflow">
        <%= form_with url: events_path, method: :get, class: "d-flex" do |f| %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Enter your location"
        %>
        <%= collection_select(:gamefilter, :name, @games, :name, :name, prompt: true) %>
        <%= f.label "Start Date" %>
        <%= f.date_field :start_date %>
        <%= f.label "End Date" %>
        <%= f.date_field :end_date %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
