<div class="banner">
  <div class="banner-content text-center">
    <h1 class="ml7">
      <span class="text-wrapper">
        <span class="letters" data-controller="letters">Game Plan</span>
      </span>
    </h1>
    <h3>Life is better shared, play games together!</h3>
      <div class="container mt-4 card-overflow bar">
        <%= form_with url: events_path, method: :get, class: "d-flex" do |f| %>
          <div class="form-control">
            <%= f.text_field :query, placeholder: "Enter location" %>
          </div>
          <div class="form-control">
            <%= f.collection_select(:gamefilter, @games, :name, :name, prompt: true) %>
          </div>
          <div class="form-control">
            <%= f.text_field :date_input, data: { controller: "flatpicker" }, placeholder: "Select date" %>
          </div>
          <%= submit_tag "Search", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
