<div class="p-2 d-flex">
  <div class="container">
  <br>
    <h4 style="text-align: center"> <%= game.name %> Leaderboard</h4>
    <br>
    <table class="table">
      <thead>
        <tr>
          <th class="text-center" scope="col"></th>
          <th class="text-center" scope="col">#</th>
          <th class="text-center" scope="col">First</th>
          <th class="text-center" scope="col">Last</th>
          <th class="text-center" scope="col">Rating</th>
        </tr>
      </thead>
      <tbody data-controller="counter">
        <% game.user_ratings.sort_by{ |player| player.rating }.reverse.each_with_index do |player, index| %>
          <tr class="counter-value" akhi="<%=player.rating%>">
            <th class="text-center" style="vertical-align: middle"><%= cl_image_tag player.user.profile_pic.key, class: "avatar-large" %></th>
            <th class="text-center" style="vertical-align: middle" scope="row"><%= index + 1 %></th>
            <th class="text-center" style="vertical-align: middle"><%= player.user.first_name %></th>
            <th class="text-center" style="vertical-align: middle"><%= player.user.second_name %></th>
            <th id="rating" class="text-center" style="vertical-align: middle">500</th>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
